<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/icon.gif">
         <run
               class="com.pip.game.editor.EditorApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="PIP-Game数据编辑器"
            class="com.pip.game.editor.Perspective"
            id="com.pip.game.editor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.pip.game.editor.DataListView"
            icon="icons/project.gif"
            id="com.pip.game.editor.DataListView"
            name="项目">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.pip.game.editor.DefaultDataObjectEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.DefaultDataObjectEditor"
            name="数据对象编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.AnimationEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.AnimationEditor"
            name="游戏动画编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.GameMeshEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.GameMeshEditor"
            name="游戏模型编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.NPCTemplateEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.NPCTemplateEditor"
            name="NPC模板编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.talent.TalentTreeEditor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.talent.TalentTreeEditor"
            name="天赋编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.area.GameAreaEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.area.GameAreaEditor"
            name="关卡编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.quest.QuestEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.quest.QuestEditor"
            name="任务编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.item.ItemEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/item.gif"
            id="com.pip.game.editor.item.ItemEditor"
            name="物品编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.item.DropGroupEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            default="false"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.item.DropGroupEditor"
            name="掉落组编辑">
      </editor>
      <editor
            class="com.pip.game.editor.skill.SkillEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            default="false"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.skill.SkillEditor"
            name="技能编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.equipment.EquipmentEditor"
            default="false"
            icon="icons/icon.gif"
            id="com.pip.game.editor.equipment.EquipmentEditor"
            name="装备编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.shop.ShopEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.shop.ShopEditor"
            name="商店编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.skill.BuffEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.skill.BuffEditor"
            name="BUFF编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.TitleEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.TitleEditor"
            name="称号编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.GiftGroupEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.GiftGroupEditor"
            name="奖励组编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.equipment.SuiteEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.equipment.SuiteEditor"
            name="套装编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.horse.HorseTypeEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.horse.HorseTypeEditor"
            name="坐骑类型编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.item.FormulaEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.item.FormulaEditor"
            name="打造配方编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.shop.TeleportSetEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.shop.TeleportSetEditor"
            name="驿站编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.SoundEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.SoundEditor"
            name="声音编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.forbid.ForbidEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.forbid.ForbidEditor"
            name="物品禁用组编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.forbid.ForbidSkillEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.forbid.ForbidSkillEditor"
            name="技能禁用组编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.ai.AIEditor"
            contributorClass="com.pip.game.editor.DefaultDataObjectEditorActionBarContributor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.ai.AIEditor"
            name="AI编辑器">
      </editor>
      <editor
            class="com.pip.game.editor.I18NErrorEditor"
            icon="icons/dataobj.gif"
            id="com.pip.game.editor.I18NErrorEditor"
            name="错误查看">
      </editor>
   </extension>
   <extension
         id="pipgame"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.pip.game.editor.application"
            name="PIP-Game编辑器">
         <property
               name="appName"
               value="PIP-Game编辑器">
         </property>
      </product>
   </extension>
</plugin>
